.grid-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: auto;
  border: 2px solid black;
  /* Border del rectangulo */
  background-color: white;
  /*Color de fondo */
}
.row {
  display: grid;
  grid-template-columns: repeat(7, 100fr);
  grid-template-rows: repeat(2, 50px);
  gap: 1px;
}
.row li {
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  font-size: 15px;
  list-style: none;
}
.row .item1 {
  grid-area: 1 / 1 / span 1 / span 1;
}
.row .item2 {
  grid-area: 1 / 4 / span 1 / span 1;
}
.row .item3 {
  grid-area: 1 / 5 / span 1 / span 1;
}
.row .item4 {
  grid-area: 1 / 6 / span 1 / span 1;
}
.row .item5 {
  grid-area: 1 / 7 / span 1 / span 1;
}
.container {
  display: flex;
  flex-direction: column;
}
.container .column1,
.container .column2,
.container .column3 {
  display: flex;
  width: 100%;
  height: 150px;
}
.container .column1 {
  flex-direction: column;
  align-items: center;
}
.container .column2 {
  display: flex;
  height: auto;
  flex-direction: row;
}
.container .column2 .col2-row2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.container .column2 .col2-row2 .work-experience {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
  border: 2px solid black;
  padding: 20px;
}
.container .column2 .col2-row2 .work-experience .col2-row2-col1-row1,
.container .column2 .col2-row2 .work-experience .col2-row2-col1-row2,
.container .column2 .col2-row2 .work-experience .col2-row2-col1-row3,
.container .column2 .col2-row2 .work-experience .col2-row2-col1-row4 {
  display: flex;
}
.container .column2 .col2-row2 .work-experience .col2-row2-col1-row4 span {
  color: blue;
}
.container .column2 .col2-row2 .open-source span {
  color: blue;
}
.container .column2 .col2-row1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border: 1px solid black;
  /*dividemos el row en dos 
      dentro de este row lo llamamos column y centramos arriba al medio
      con alih-item , debera ocupar todo el heigh
      el paddin es para dearle un margen  */
}
.container .column2 .col2-row1 .project {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  border: 1px solid black;
}
.container .column2 .col2-row1 .project .project-project {
  padding: 1rem;
}
.container .column2 .col2-row1 .project .project-calculator,
.container .column2 .col2-row1 .project .project-quiz,
.container .column2 .col2-row1 .project .project-timer {
  display: flex;
  align-items: start;
  width: 100%;
  height: auto;
  border: 1px solid black;
}
.container .column2 .col2-row1 .project .project-calculator span,
.container .column2 .col2-row1 .project .project-quiz span,
.container .column2 .col2-row1 .project .project-timer span {
  padding: 5px;
  margin: 5px;
}
.container .column2 .col2-row1 .product {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  padding: 1rem;
}
.container .column2 .col2-row3 {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.container .column3 {
  flex-direction: column;
  align-items: center;
  border: 2px solid orange;
}
.footer {
  display: flex;
  justify-content: center;
  width: 1000px;
  height: 100px;
  border: 2px solid blue;
}
